/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: "Lato", sans-serif;
}

/* Header */
header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    text-align: center;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Main Content */
main {
    background-color: white;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

/* Button to play.html styles */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    justify-content: center;
}

button:hover {
    background-color: #45a049;
}

/* Game container styles */
.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
}

/* Score tracker styles */
.scores {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.score h3 {
    margin-bottom: 10px;
}

#player-score,
#computer-score {
    font-size: 2rem;
    font-weight: bold;
}

/* Player and Computer choices styles */
.choices {
    display: flex;
    justify-content: space-between;
}

.player-choices button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.player-choices button:hover {
    background: #0056b3;
}

.computer-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#computer-choice-display {
    font-size: 1.5rem;
    margin-top: 10px;
}

/* Result display styles */
#result {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
  }

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    #logo {
        font-size: 230%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accomadate larger header */
        margin-top: 77px;
    }
}